$color1: #282c37ff;
$color2: #9baec8ff;
$color3: #d9e1e8ff;
$color4: #2b90d9ff;

* {
    margin: 0;
    font-family: Calibri;
}

body {
    background-color: $color2;
}

.page {
    width: 780px;
	margin: auto;
    box-shadow: 5px 0px 5px $color1, -5px 0px 5px $color1, 0px 10px 10px $color1;
    background-color: $color3;
    font-size: 16px;
    .header {
        display: flex;
        justify-content: flex-start;
        background-color: $color1;
        color: $color3;
        img {
            height: 150px;
        }
        &__info {
            // padding-bottom: 5px;
            padding-left: 20px;
            width: 380px;
            &--name {
                font-weight: 900;
                font-size: 2.2rem;
            }
            &--title {
                color: $color2;
                font-size: 1.8rem;
            }
            &--contact {
                font-weight: 900;
                color: $color2;
                // margin-top: 15px;
                display: inline-block;
                height: 30px;
            }
            .addicon--smartphone, .addicon--email {
                width: 145px;
            }
            .addicon--email, .addicon--cake {
                width: 145px;
                margin-bottom: 5px;
            }
        }
        &__links {
            // margin-top: 20px;
            div {        
                margin-top: 15px;
            }
        }
    }
    .research {
        color: $color4;
        font-size: 1.8rem;
        font-weight: 900;
        border: 3px solid $color2;
        margin: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align:center;
    }
    .content {
        display: flex;
        justify-content: flex-start;
        &__main {
            width: 560px;
            padding-left: 30px;
            padding-right: 10px;
        }
        &__side {
            width: 220px;
            padding-left: 10px;
            padding-right: 30px;
            font-weight: 900;
            &__softskill, &__hobbie {
                .addicon {
                    margin-bottom: 5px;
                }
            }
            &__skill {
                &__progress {
                    width: 195px;
                    height: 5px;
                    background-color: $color2;
                    border-radius: 2px;
                    margin-bottom: 5px;
                    div {
                        margin: 0;
                        height: 5px;
                        background-color: $color4;
                        border-radius: 2px;
                    }
                }
            }
            .content__title {
                margin-bottom: 10px;
            }
            &__reward {
                font-weight: normal;
                font-size: 14px;
            }
        }
        &__title {
            font-size: 1.3rem;
            font-weight: 900;
            text-transform: uppercase;
            border-bottom: 2px solid $color2;
            padding-bottom: 5px;
            // color: $color2;
        }
        &__subtitle {
            font-size: 1.1rem;
            font-weight: 900;
            margin-left: 20px;
            margin-top: 5px;
            // color: $color2;
        }
        &__task {
            margin-left: 23px;
            padding-left: 23px;
            border-left: 2px solid $color2;
            &__date {
                color: $color2;
                font-weight: 900;
                text-transform: uppercase;
                font-size: 14px;
            }
            &__resume {
                font-size: 14px;
            }
            b {
                color: $color4;
            }
        }
    }
}

.addicon {
    background-repeat: no-repeat;
    background-size: 30px;
    line-height: 30px;
    padding-left: 40px;
    &--linkedin {
        background-image: url("image/linkedin.svg");
    }
    &--github {
        background-image: url("image/github.svg");
    }
    &--website {
        background-image: url("image/website.svg");
    }
    &--smartphone {
        background-image: url("image/smartphone.svg");
    }
    &--email {
        background-image: url("image/email.svg");
    }
    &--location {
        background-image: url("image/location.svg");
    }
    &--cake {
        background-image: url("image/cake.svg");
    }
    &--softskill {
        background-image: url("image/softskill.svg");
    }
    &--hobbie {
        background-image: url("image/hobbie.svg");
    }
    &--skill {
        background-image: url("image/skill.svg");
    }
    &--circle {
        background-image: url("image/circle.svg");
        background-size: 10px;
        background-position: left;
        padding-left: 30px;
    }
    &--app {
        background-image: url("image/app.svg");
        background-size: 13px;
        background-position: left;
        padding-left: 15px;
        line-height: normal;
        font-weight: 900;
    }
}
